* {
  color: #6E7883;
  font-family: Arial, "Helvetica shashank Neue", Helvetica, sans-serif; }

@font-face {
  font-family: 'GLYPHICONS';
  src: url(/PolicyTool/vendor/bootstrap/fonts/GLYPHICONS-Regular.otf); }
html, body {
  height: 100%; }

body {
  padding-top: 80px; }

header, footer {
  position: absolute;
  right: 0px;
  left: 0px;
  text-align: center; }
  header > *, footer > * {
    color: #FFFFFF; }

header {
  top: 0px;
  height: 80px;
  background: #0D60B5 url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2265px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2065%2026%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Style-Guide%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Website%22%20transform%3D%22translate%28-21.000000%2C%20-19.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Menu-Header%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22KPMG-Logo%22%20transform%3D%22translate%2821.000000%2C%2019.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M50.4695704%2C-6.84210526e-05%20L50.4695704%2C12.955686%20C50.0154859%2C13.3128439%2049.6291479%2C13.6957737%2049.2693592%2C14.1083526%20L49.2693592%2C-6.84210526e-05%20L34.8677394%2C-6.84210526e-05%20L34.8677394%2C11.7970895%20L33.6746232%2C11.7970895%20L33.6746232%2C-6.84210526e-05%20L19.2707148%2C-6.84210526e-05%20L19.2707148%2C11.8157912%20L18.0789718%2C11.8157912%20L18.0789718%2C-6.84210526e-05%20L3.67460563%2C-6.84210526e-05%20L3.67460563%2C13.4672474%20L4.5774648e-05%2C25.6776684%20L3.23196479%2C25.6776684%20L4.85559155%2C20.2698965%20L5.32249296%2C20.2698965%20L8.00305634%2C25.6776684%20L11.9085493%2C25.6776684%20L9.3076338%2C20.2698965%20L15.2093592%2C20.2698965%20L13.5717711%2C25.6776684%20L17.1042007%2C25.6776684%20L18.7198169%2C20.2851772%20L19.4952394%2C20.2851772%20L19.4952394%2C20.2698965%20L20.6059613%2C20.2698965%20L20.6945352%2C20.2698965%20L27.3588662%2C20.2698965%20L25.7993239%2C25.6617035%20L29.3603627%2C25.6617035%20L30.8716127%2C20.2698965%20L32.4741831%2C20.2698965%20L32.5169824%2C25.6617035%20L35.5046937%2C25.6617035%20L38.9334437%2C20.2698965%20L41.1784613%2C20.2698965%20L40.0205915%2C25.6617035%20L43.5269296%2C25.6617035%20L44.6642007%2C20.2698965%20L46.6920176%2C20.2698965%20C46.6114542%2C21.9411947%2047.0403627%2C23.4594579%2048.1526866%2C24.4816684%20C49.5112782%2C25.7257912%2051.5974577%2C25.9636684%2053.1418944%2C25.9636684%20C55.2543944%2C25.9636684%2057.4474577%2C25.6617035%2059.6540246%2C25.1658789%20L60.8688838%2C20.2698965%20L64.8711901%2C20.2698965%20L64.8711901%2C-6.84210526e-05%20L50.4695704%2C-6.84210526e-05%20Z%20M17.5598873%2C12.5034228%20L17.3504683%2C13.1953877%20L15.4364014%2C19.5416684%20L15.3608732%2C19.7649491%20L9.06182394%2C19.7649491%20L8.57020423%2C18.7308789%20L15.3608732%2C11.8157912%20L10.9980915%2C11.8157912%20L5.68777465%2C17.5157211%20L7.40775704%2C11.8157912%20L4.19071479%2C11.8157912%20L4.19071479%2C0.511721053%20L17.5598873%2C0.511721053%20L17.5598873%2C12.5034228%20Z%20M21.2786197%2C17.869914%20L21.2745%2C17.869914%20C21.1449577%2C17.8765281%2021.0145%2C17.8877035%2020.8650458%2C17.8877035%20C20.6698169%2C17.8877035%2020.5173873%2C17.8947737%2020.3734261%2C17.8947737%20L19.5172113%2C17.8877035%20L19.913162%2C16.4291947%20L20.1003803%2C15.7048439%20L20.5496585%2C14.0080018%20C20.7485493%2C14.0080018%2020.9437782%2C14.0009316%2021.1303099%2C14.0009316%20L21.7931268%2C14.0009316%20C22.9244472%2C14.0009316%2023.6403627%2C14.0650193%2023.9005915%2C14.4276509%20C24.1003979%2C14.6997386%2024.0745352%2C15.1704754%2023.8390246%2C15.8861596%20C23.4352923%2C17.1188789%2022.9244472%2C17.7447035%2021.2786197%2C17.869914%20L21.2786197%2C17.869914%20Z%20M31.0155739%2C19.7649491%20L32.4245176%2C14.7807035%20L32.4741831%2C19.7649491%20L31.0155739%2C19.7649491%20Z%20M33.156912%2C11.7970895%20L29.8084965%2C11.7970895%20L27.5115246%2C19.7649491%20L23.9610141%2C19.7649491%20C25.770257%2C19.0980719%2026.8711373%2C17.8245281%2027.2117007%2C15.9347386%20C27.4922993%2C14.4661947%2027.3588662%2C13.4998614%2026.7580739%2C12.7764228%20C25.8574577%2C11.6999316%2024.0498169%2C11.7920719%2022.4438134%2C11.7920719%20C22.1632148%2C11.7920719%2019.7879683%2C11.7970895%2019.7879683%2C11.7970895%20L19.7879683%2C0.511721053%20L33.156912%2C0.511721053%20L33.156912%2C11.7970895%20Z%20M41.280081%2C19.7649491%20L39.2673697%2C19.7649491%20L42.3139014%2C14.9882474%20L41.280081%2C19.7649491%20Z%20M48.7511901%2C12.0210544%20L48.7445528%2C14.7807035%20C47.8116655%2C16.0651947%2047.2323873%2C17.4675982%2046.9616303%2C18.5972298%20C46.8590951%2C18.9929316%2046.7872289%2C19.3767737%2046.7483204%2C19.7649491%20L44.7820704%2C19.7649491%20L46.4631444%2C11.8157912%20L40.805169%2C11.8105456%20L35.7411197%2C19.7649491%20L35.3724049%2C19.7649491%20L35.3724049%2C0.511721053%20L48.7511901%2C0.511721053%20L48.7511901%2C12.0210544%20Z%20M56.4644472%2C23.0188263%20C55.7004683%2C23.1565807%2054.9387782%2C23.2482649%2054.2137077%2C23.2482649%20C52.2840775%2C23.2482649%2050.9419648%2C22.354686%2050.9138134%2C20.2698965%20L57.1485493%2C20.2698965%20L56.4644472%2C23.0188263%20Z%20M64.3628627%2C19.7649491%20L60.9922465%2C19.7649491%20L61.5488662%2C17.5437737%20L54.7957324%2C17.5437737%20L54.2407148%2C19.7649491%20L50.9774401%2C19.7649491%20L50.9774401%2C19.3088088%20C51.0277923%2C19.0583877%2051.0712782%2C18.7958789%2051.1342183%2C18.5153526%20C51.7279155%2C16.1203877%2053.3059965%2C13.7537035%2056.0353099%2C13.7537035%20C57.1153627%2C13.7537035%2058.1887782%2C14.1640018%2058.0416127%2C15.6526158%20L62.0594824%2C15.6526158%20C62.2176338%2C14.957914%2062.4835845%2C13.774686%2061.7255563%2C12.6870193%20C60.8688838%2C11.5049316%2059.1438662%2C11.0305456%2056.9066303%2C11.0305456%20C55.3152746%2C11.0305456%2052.9880915%2C11.2843877%2050.9774401%2C12.5921421%20L50.9774401%2C0.511721053%20L64.3628627%2C0.511721053%20L64.3628627%2C19.7649491%20Z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) no-repeat;
  background-size: 79px;
  background-position: 55px 24px; }
  header h1 {
    padding-top: 27px;
    font-size: 24px; }

footer {
  bottom: 0px;
  height: 109px;
  background: #3A7DC1; }
  footer p {
    padding-top: 33px;
    font-size: 12px; }

input[type="text"], input[type="password"] {
  border-color: #C6C6C6;
  color: #929292;
  font-size: 14px; }

.input-group-text {
  padding: 0.6rem 0.9rem;
  border-color: #C6C6C6;
  background-color: #F9F9F9;
  color: #3B8FD5;
  font-size: 13px;
  font-family: 'GLYPHICONS'; }

.form-control {
  border-radius: .125rem; }

#overlay {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=common.css.map */
